/code/current/.project
/code/current/.settings
/code/current/build
/code/current/.classpath
/mobile/original/bin
/mobile/original/.classpath
/mobile/original/.project
/mobile/original/.settings
/mobile/original/assets
/mobile/original/gen
/mobile/original/ic_launcher-web.png
/mobile/original/proguard-project.txt
/mobile/original/project.properties
/web/current/build
